*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.o
*.hi
*.dyn_o
*.dyn_hi
*.class
texput.log
sugars/haskell/main
examples
img/*.pdf
